<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="995"/>
    <add key="CONSTR" value="Data Source=DESKTOP\SQLEXPRESS;Initial Catalog=EmailClient;User ID=sa;Password=********"/>
    <add key="Server" value="pop.gmail.com"/>
    <add key="SSL" value="true"/>
    <add key="Login" value="mailh@gmail.com"/>
    <add key="Password" value="*******"/>
    <add key="AttachmentsPath" value="A:\Projects\Emailclient\EmailClient\EmailClient\Attachements"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="FileStoredpath" value="https://sample.com/files"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
